.profile__fullName{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;

    margin: 0;
}

@media screen and (max-width: 940px){
    .profile__fullName{
        font-size: 27px;
        line-height: 56px;
    }
}