.edit-form__close-button{
    padding: 0;
    position: fixed;
    top: 148px;
    left: 50%;
    transform: translate(calc(-50% + 230px), 0);
    cursor: pointer;
    z-index: 3;
    background-color: transparent;
    border: none;
}

.edit-form__close-button:focus{
    outline: none;
}

@media screen and (max-width: 940px){
    .edit-form__close-button{
        top: 50%;
        transform: translate(calc(-50% + 125px), calc(-50% - 170px));
        width: 37px;
        height: 37px;
    }
}