.profile__left-items{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 940px){
    .profile__left-items{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}